<!-- Header -->
<header class="header header--login">
    <div class="grid wide d-flex">
        <nav class="navbar">
            <div class="navbar__left">
                <a href="/" class="logo">
                    <img src="/assets/img/logoCF.png" alt="" class="logo__img">
                </a>
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="/listproduct.html" class="navbar__link">Sản phẩm</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/store.html" class="navbar__link">Cửa hàng</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/sale.html" class="navbar__link">Khuyến mãi</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Tin tức</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__right">
                <div class="navbar__log-in">
                    <a class="navbar__link">Đăng nhập</a>
                </div>
                <div class="navbar__sign-up">
                    <a class="navbar__link">Đăng ký</a>
                </div>
                <div class="user">
                    <div class="user__avatar">
                        <img src="./assets/img/user.png" alt="User avatar" class="user__img">
                        <div class="user__tooltip">
                            <ul class="user__nav">
                                <li class="user__item">
                                    <a href="/profile.html" class="user__link">Tài khoản của tôi</a>
                                </li>
                                <li class="user__item">
                                    <a href="/order-history.html" class="user__link">Lịch sử mua hàng</a>
                                </li>
                                <li class="user__item">
                                    <a href="#" class="user__link">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="user__name">Hưng</div>
                </div>
                <div class="cart">
                    <a href="./cart.html" class="cart__link">
                        <img src="./assets/img/cart.png" alt="Cart" class="cart__img">
                    </a>
                    <div class="cart__count">
                        5
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>