<!-- Header -->
<header class="header header--login">
    <div class="grid wide d-flex">
        <nav class="navbar">
            <div class="navbar__left">
                <a href="/" class="logo">
                    <img src="/assets/img/logoCF.png" alt="" class="logo__img">
                </a>
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Sản phẩm</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Cửa hàng</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Khuyến mãi</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Tin tức</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__right">
                <div class="cart">
                    <a href="./cart.html" class="cart__link">
                        <img src="./assets/img/cart.png" alt="Cart" class="cart__img">
                    </a>
                    <div class="cart__count">
                        5
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>